<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ComputerSimulator/src/main/edu/gwu/cs6461/sim/ui/SimUILauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.gwu.cs6461.sim.ui.SimUILauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ComputerSimulator"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dsim.property=bin/sim.property"/>
</launchConfiguration>
